.header-div {
    background-color: #879676;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
}
